body {
    background: #000216;
    display: flex;
}

.game {
    width: 40%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
    margin: auto;
}

.title {
    background: #005f85;
    padding: 5px 0;
    margin: 5px 0;
}

button {
    width: 100px;
    height: 20px;
    margin: 10px;
}

.main1 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 6px;
    font-size: 100px;
    font-weight: 500;
}

.main2 {
    font-size: 50px;
    font-weight: 200;
    background: #005f85;
    width: 60px;
    height: 60px;
    float: left;
    margin: 3px;

}

.main2:hover {
    background: #01acf0;
    scale: 1.1;
    cursor: pointer;
}